import firebase from 'firebase';
config = {
  apiKey: "",
  authDomain: "",
  databaseURL: "",
  storageBucket: "",
  messagingSenderId: ""
};
var fire = firebase.initializeApp(config);
export default fire;
